// app global css in SCSS form
.wrapper{
    height: auto;
    width: 100%;
    padding: 3% 13%;
}
@media only screen and (max-width: 1000px) {
    .wrapper{
        padding: 3% 5%;
    }
}

.title-font{
    font-size: 1rem;
    font-weight: bolder;
}

.pointer{
    cursor: pointer;
}

.q-item__section {
    color: black;
}

.content{
    padding: 30px;
    width: 100%;
    height: auto;
    background-color: #ebedef;
    min-height: 84.7vh;
}

tr:nth-child(even) {background-color: #f2f2f2;}
